#################################################
# VIRTUAL ENV
#################################################
venv/
env/

#################################################
# PYTHON
#################################################
__pycache__/
*.pyc
*.pyo
*.pyd

#################################################
# DJANGO
#################################################
db.sqlite3
media/
staticfiles/

#################################################
# ENV FILES
#################################################
.env
.env.*

#################################################
# BACKUPS / DATA
#################################################
*.sql
*.sqlite3
*.json
*.zip
*.xlsx
*.csv

#################################################
# LOGS
#################################################
*.log

#################################################
# EDITORES / IDE
#################################################
.vscode/
.idea/

#################################################
# SYSTEM FILES
#################################################
.DS_Store
*.pem

#################################################
# CUSTOM FILES
#################################################
CSS.txt
HTML.txt