{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<h1>Nuevo Ticket</h1>

<form method="post">
    {% csrf_token %}

    <input type="text" name="titulo" placeholder="Título" required>

    <textarea name="descripcion" placeholder="Descripción"></textarea>

    <select name="entidad">
        {% for e in entidades %}
        <option value="{{ e.pk }}">{{ e.nombre_empresa }}</option>
        {% endfor %}
    </select>

    <select name="categoria">
        {% for c in categorias %}
        <option value="{{ c.pk }}">{{ c.nombre }}</option>
        {% endfor %}
    </select>

    <select name="prioridad">
        <option value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="alta">Alta</option>
    </select>

    <button type="submit" class="btn-primary">Crear</button>
</form>

{% endblock %}