{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PCI Cert Pro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
</head>
<body>

<div class="layout">

    {% include 'users/components/sidebar.html' %}

    <main class="main-content">

        <header class="topbar">
            <nav class="topbar-nav">
                <a href="{% url 'catalogos:home' %}">Catálogos</a>
                <a href="{% url 'config_general' %}">Configuración</a>
                <a href="{% url 'helpdesk:ticket_lista' %}">Ayuda</a>
            </nav>

            <!-- <div class="topbar-right">
                <div class="topbar-search">
                    <i data-feather="search"></i>
                    <input type="text" placeholder="Buscar...">
                </div>
                <div class="topbar-lang">Eng ▾</div>
            </div> -->
        </header>

        <section class="content">
            {% block content %}{% endblock %}
        </section>

    </main>
</div>

<script src="{% static 'users/js/feather.min.js' %}"></script>
<script>
    feather.replace();
</script>
{% block extra_js %}{% endblock %}

</body>
</html>