{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle Usuario</title>
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
</head>
<body>
<div class="layout">
    <main class="main-content">
        <section class="content">
            <h1>Detalle del Usuario</h1>

            <div class="card">
                <p><strong>Username:</strong> {{ usuario.username }}</p>
                <p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
                <p><strong>Apellido:</strong> {{ usuario.last_name }}</p>
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <p><strong>Activo:</strong> {{ usuario.is_active|yesno:"Sí,No" }}</p>
                <p><strong>Rol:</strong>
                    {% if usuario.is_superuser %}
                        Administrador Global
                    {% else %}
                        Usuario
                    {% endif %}
                </p>
            </div>

            <a href="{% url 'usuarios_lista' %}" class="btn">Volver</a>
        </section>
    </main>
</div>
</body>
</html>