{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Editar Usuario{% else %}Nuevo Usuario{% endif %}
{% endblock %}

{% block content %}

<div class="page-header">
    <div class="page-header-text">
        <h1>
            {% if form.instance.pk %}
                Editar usuario
            {% else %}
                Nuevo usuario
            {% endif %}
        </h1>
        <p>Gestiona la información del usuario dentro del sistema.</p>
    </div>

    <div class="page-actions">
        <a href="{% url 'usuarios_lista' %}" class="btn-secondary">
            ↶ Volver
        </a>
    </div>
</div>

<div class="card" style="max-width:700px;">

    <div class="card-header">
        <h3>Datos del usuario</h3>
    </div>

    <div class="card-body">

        <form method="post">
            {% csrf_token %}

            <div class="form-grid">

                {% for field in form %}
                    {% if field.name != "rol" %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}

                        {% if field.errors %}
                            <div class="login-error">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}

                <!-- Rol separado -->
                <div class="form-group">
                    <label>Rol</label>
                    {{ form.rol }}

                    {% if form.rol.errors %}
                        <div class="login-error">
                            {{ form.rol.errors }}
                        </div>
                    {% endif %}
                </div>

            </div>

            <div class="form-actions">
				<button type="submit" class="btn-primary">
                    Guardar
                </button>
                <a href="{% url 'usuarios_lista' %}" class="btn-secondary">
                    Cancelar
                </a>
            </div>

        </form>

    </div>
</div>

{% endblock %}